@charset "utf-8";




/* The heights and widths of the html were set to 100% in order to cover the entire page. An image was used to replace the background, using the cover value the image filled the entire html element. The text color was set to whitesmoke. The body was given a height that cover the entire hmtl, the width was reduced to 50% of the html element. The background color of the body was set to black and the space was added to bothe the left and right margins in order to center the element. */


/* Body Styles */

html {
    width: 100%;
    height: 100%;
    background: url(1234567.jpg);
    background-size: cover;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The body was given specifications seperate from the html. If the users viewport is too small to render all the information, a scroll bar will appear. The width is 80% of the html's space, an the height fills all of the html. The background color was set to blacck and margin auto was used to center the body within the html. There was color added with blur added to the border to make it look like a hsadoe. */
body {
    overflow: scroll;
    width: 80%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgb(31, 31, 31), -10px 10px 10px rgb(31, 31, 31);
}

/* All images would be given a display of block and centered using the margin space. More space was added to the top(5px) using margin specifications. Grey borders were given that are 2 pixel units wide and padding was given to each element. (20 pixels units.) */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 20px 20px;
    border: 2px solid rgb(58, 57, 57);
}